<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('templates/css/style.css') }}">
</head>
<body class="{{ app.request.attributes.get('_route') }}">
{% block body %}{% endblock %}
</body>
</html>